# Salva as dependências 
# com a versão exata, 
# evitando atualizações indesejadas no package.json
# apos criar esse arquivo eu devo instalar 
# novamente as dependencias q ele fixa a versao exata instalaDA
# npm i -D typescript @types/node tsx tsup
# npm i fastify
# Estudar o RenovateBot
save-exact=true 